<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Test1">
        <classes>
            <class name="apidataTransfer.PostRequest">
            </class>
        </classes>
    </test>
    <test name="Test2">
        <classes>
            <class name="apidataTransfer.GetBooking">
            </class>
        </classes>
    </test>
</suite>